:root {
    --color-font: #212529;
    --color-blue-python: #4989BB;
    --color-yelow-python: #F6BA08;
    --color-background-home: rgb(48, 47, 47);
    --height-page: 100vh;
}
html body {
    height: var(--height-page);
    background-color: var(--color-background-home);
}
/* base */
#twitter-png {
    width: 50px;
    margin-left: -10px;
}
#kaggle-svg {
    width: 25px;
    height: 25px;
}
.photo {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 10px;
}
#python {
    color: var(--color-blue-python);
}
.align-menu {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
#portfolio {
    color: var(--color-yelow-python);
}
/* base-end */

/* index */
#text-title-home {
    font-size: 2rem;
    margin-top: 50px;
    text-align: center;
}
#text-work-home {
    font-size: 1.1rem;
    margin-top: -12px;
    color:  var(--color-yelow-python);
    text-align: center;
}
#text-phrase-home {
    margin-top: 80px;
    font-size: 3.2rem;
    text-align: center;
}
#image-home {
    width: 15%;
}
#image-python-home {
    margin: auto;
}
/* index-end */

/* projects */
#text-title-projects {
    font-size: 3rem;
    margin-top: 50px;
}
#text-phrase-projects {
    margin-top: 10px;
    font-size: 1.5rem;
}
#list-projects {
    margin-top: 70px;
}
#list-color {
    background-color: var(--color-background-home);
}
#color-bnt {
    background-color: var(--color-yelow-python);
}
/* projects-end */

/* cg */
#margin-cg {
    margin-top: 120px;
}
#card-color {
    background-color: var(--color-background-home);
    font-size: 1.5rem;
}
#font-card {
    font-size: 1.4rem;
    text-align: center;
}
/* cg-end */

/* ht */
#title-card-skills {
    font-size: 1.4rem;
}
#card-top-skil {
    margin-top: 50px;
    background-color: var(--color-background-home);
}   
#card-top-skil-1 {
    background-color: var(--color-background-home);
}   
#card-color-skil {
    background-color: var(--color-background-home);
}                    
#color-link-skil {
    color: var(--color-yelow-python);
}
#card-width-height {
    width:80px;
    height:40px;
    display: inline-block;
}
/* ht-end */

/* About */
#photo-carlos {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.img-center {
    margin-top: 50px;
    text-align: center;
}
#text-phrase-about {
    margin-top: 30px;
    font-size: 1.4rem;
}

/* About-end */

@media (max-width: 920px) {
    /* index */
    #text-title-home {
        font-size: 2.5rem;
    }
    #text-work-home {
        font-size: 1.5rem;
    }
    #text-phrase-home {
        margin-top: 30px;
        font-size: 3rem;
    }     
    #image-home {
        width: 100%;
    }
    /* index-end */

    /* projects */
    #list-projects {
        margin-top: 0px;
    }
    #text-title-projects {
        text-align: center;
    }
    #text-phrase-projects {
        text-align: center;
    }
    /* projects-end */

    /* cg */ 
    #margin-bottom-cg {
        margin-bottom: 10px;
    }   
    #margin-cg {
        margin-top: 0px;
    }
    /* cg-end */    

}